.InputBoxStyleLandingPage {
  width: 45rem;
  height: 29px;
  font-size: 17px;
}

.InputBoxStyleBooksPage {
  width: 50%;
  height: 29px;
  font-size: 17px;
}

.ImageStyle {
  width: 20px;
  height: 20px;
}

.formBody {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}

.formButton {
  background-color: #357ae8;
  border-color: #357ae8;
}

@media screen and (max-width: 768px) {
  .formBody input {
    width: 30rem;
    height: 29px;
    font-size: 17px;
  }
  .formBody button {
    font-size: 10px;
    bottom: -10px;
  }
}

@media screen and (max-width: 480px) {
  .formBody input {
    width: 10rem;
    height: 29px;
    font-size: 17px;
  }
  .formBody button {
    font-size: 10px;
    bottom: -10px;
  }
}
