.bookImage {
  padding-top: 10px;
  width: 128px;
  height: 196px;
  overflow: hidden;
}

.backdrop {
  position: relative;
  height: 400px;
  width: 200px;
  padding: 0 20px 0 20px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.2s;
  overflow: hidden;
  margin: 20px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
  }

  &:hover {
    transform: scale(1.05);
    &::after {
      opacity: 0.3;
    }
  }
}
.contentContainer {
  // background-color: #e0e0e0;
  margin-top: 30px; /* Adjust margin top */
  margin-bottom: 10px;
}
.contentContainer h4,
h3 {
  margin: 2px;
}

.contentContainer p {
  margin-top: 0; /* Adjust margin top for p */
  margin-bottom: 0; /* Adjust margin bottom for p */
}
.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffd814;
  border-color: #fcd200;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 1;
}

.imageContainer {
  background-color: #dfddd3;
  border-radius: 10px;
}

.imageContainer:hover .button {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}
